<link rel="stylesheet" href="component-styles.css">
<div class="content-card">
    <div class="still-tags-container">
        <div class="still-content-tag">
            <div class="tag-text">Khám phá</div>
        </div>
        <div class="still-content-tag">
            <div class="tag-text">UX/UI Design</div>
        </div>
        <div class="still-content-tag">
            <div class="tag-text">Câu lạc bộ Thiết kế</div>
        </div>
    </div>
    <img class="image-icon" alt="" src="../assets/images/imgContentCard.jpg">
    <div class="content-text">
        <div class="title">Figma: Tạo Dựng Giao Diện Người Dùng Đẹp Mắt Và Thân Thiện</div>
        <div class="description">Figma là một công cụ thiết kế giao diện người dùng mạnh mẽ, cho phép các nhà thiết
            kế tạo ra các mẫu thiết kế tương tác một cách dễ dàng và nhanh chóng. Với tính năng collaborative (hợp
            tác), Figma cho phép nhiều người dùng làm việc cùng lúc trên một dự án, giúp tăng cường sự sáng tạo và
            hiệu quả trong quá trình thiết kế. Được thành lập vào năm 2012, Figma đã nhanh chóng trở thành một trong
            những lựa chọn hàng đầu cho các nhà thiết kế và phát triển sản phẩm. Các tính năng như prototyping (tạo
            mẫu) và design systems (hệ thống thiết kế) giúp người dùng chuyển đổi ý tưởng thành sản phẩm thực tế một
            cách suôn sẻ.</div>
    </div>
    <div class="card-footer">
        <div class="footer-info">
            <img class="account-circle-icon" alt="" src="../assets/icons/icAccount.svg">
            <div class="metadata-text">Lê Đăng Tấn</div>
        </div>
        <div class="footer-info date-info">
            <img class="account-circle-icon" alt="" src="../assets/icons/icTime.svg">
            <div class="metadata-text">15 tháng 03 2025, 14:00</div>
        </div>
        <div class="footer-info">
            <img class="account-circle-icon" alt="" src="../assets/icons/icEye.svg">
            <div class="metadata-text">10,5k</div>
        </div>
    </div>
</div>